body {
    padding: 0;
    margin: 0;
}
#cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#game-over {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#game-over > h2 {
    font-size: 2rem;
    color: orange;
    margin-top: 1%;
    margin-bottom: 1%;
}
#game-over > p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5%;
    width: 50%;
    margin-top: 1%;
    margin-bottom: 1%;
    color: white;
}
#game-over-character {
    color: orange;
    font-weight: 600;
}
.play-again {
    border: 1px solid rgba(0, 0, 0, 0.5);
    padding-left: 2.5%;
    padding-right: 2.5%;
    height: 6dvh;
    background-color: var(--main-color);
    color: white;
    font-weight: 600;
    border-radius: 5px;
}
#header {
    display: grid;
    grid-template: 1fr / 4fr 6fr 4fr;
    height: 15dvh;
    background-color: var(--main-color);
    border-bottom: 1px solid rgba(0,0,0,0.15);
    margin-bottom: 1.5%;
    padding-left: 1%;
    padding-right: 1%;
    justify-items: center;
    align-items: center;
}
.title {
    grid-area: 1 / 2 / 2 / 3;
    text-align: center;
    font-family: "Bangers";
    font-size: 3rem;
    margin-top: 1%;
    margin-bottom: 1%;
    color: whitesmoke;
}
#buttons {
    grid-area: 1 / 1 / 2 / 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.button-icon {
    fill: black;
}
#scores{
    grid-area: 1 / 3 / 2 / 4;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}
.header-item{
    border: none;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5%;
    margin: 0;
    width: 30%;
    background-color: white;
    height: 40%;
    max-height: 50px;
    max-width: 150px;
    font-size: 0.875rem;
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out;
}
#how-to-play-text {
    text-align: center;
    width: 35dvw;
}
.orange-hover:hover {
    background-color: orange;
    cursor: pointer;
}
.red-hover:hover {
    background-color: red;
    cursor: pointer;
}
.blue-hover:hover {
    background-color: var(--main-color);
    color: white;
    cursor: pointer;
}
#difficulty {
    width: 100%;
    height: 30%;
    padding: 2% 2%;
    border-radius: 5px;
    border: 2px solid black;
    overflow: hidden;
}
#difficulty-buttons {
    height: fit-content;
    max-height: 40dvh;
    width: 50dvw;
    display: flex;
    align-items: center;
}
.difficulty-title {
    font-family: "Bangers";
    font-weight: 500;
    color: black;
}
.difficulty-list {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}
.difficulty-listitem {
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.75);
}
.difficulty-item {
    grid-area: 1 / 1 / 2 / 3;
    border: 1px solid rgba(0,0,0,0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 85%;
    max-width: 350px;
    height: 25dvh;
    border-radius: 100%;
    font-family: "Roboto";
    font-size: 1.38rem;
    font-weight: 500;
    background-color: white;
    background-color: orange;
    border: none;
    transition: box-shadow 0.2s ease-in-out;
}
.stars {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
}
.star {
    fill: red;
    height: 2dvh;
    width: 2dvw;
}
.start::before {
    transform: rotate(5deg);
}
.difficulty-item:hover {
    box-shadow: steelblue 2px 2px 50px 3px;
    cursor: pointer;
}
#selected-item {
    border-color: blue;
    box-shadow: blue 2px 2px 50px 5px;
}
.grid-button {
    margin-left: auto;
    margin-right: auto;
    height: 35%;
    width: 80%;
    display: grid;
    grid-template-columns: 9fr 1fr;
    justify-items: center;
    align-items: center;
}
.difficulty-info {
    fill: var(--main-color);
}
.info-div {
    grid-area: 1 / 2 / 2 / 2;
    width: 100%;
    border: none;
    padding: 0;
    background-color: transparent;
    transition: transform 0.15s ease-in-out;
}
.info-div:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.text-transition {
    animation: text-transition 0.5s ease-in-out;
}
.timer-transition {
    animation: timer-transition 0.5s ease-in-out;
}
@keyframes text-transition {
    0% {
        background-color: white;
    }
    50% {
        background-color: orange;
    }
    100% {
        background-color: white;
    }
}
@keyframes timer-transition {
    0% {
        background-color: white;
    }
    50% {
        background-color: red;
    }
    100% {
        background-color: white;
    }
}
@media (max-width: 850px) {
    :root {
        font-size: 12px
    }
    #buttons {
        flex-direction: row;
    }
    #scores {
        flex-direction: row;
    }
    .header-item {
        width: 25%;
        height: 5dvh;
    }
    #header {
        display: flex;
        flex-direction: column;
        height: 20dvh;
    }
    #title {
        width: 80%;
        font-size: 2rem;
    }
    #difficulty-buttons {
        height: fit-content;
        width: 90dvw
    }
    .difficulty-item {
        height: 20dvh;
        width: 95%;
    }
    .grid-button {
        width: 100%
    }
    #game-over {
        gap: 20px
    }
    #game-over > p {
        font-size: 1.2rem;
        gap: 3px;
    }
}